@darkgray: #202624;
@lightgray: #495A52;
@darkblue: #116466;
@lightblue: #d1e8e2;
@darktan: #d9b08c;
@lighttan: #ffcb9a;

@cell-size: 4rem;
@cell-gap: 0.4rem;
@board-width: 3 * @cell-size + 2 * @cell-gap;

* {
  font-family: 'Dosis', sans-serif;
}

body {
  color: @lightblue;
  background-color: @darkgray;
  min-width: @board-width * 3;
}

#app {
  display: grid;
  grid-template-columns: 1fr @board-width 1fr;
  grid-template-rows: min-content @board-width;
  gap: @cell-gap;
  grid-template-areas:
    ". header ."
    ". board status";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: @lightgray;
  color: @lightblue;
  border: none;
  opacity: 0.85;

  &.x {
    color: @darkgray;
    background-color: @darkblue;
    opacity: 1;
  }

  &.o {
    color: @darkgray;
    background-color: @lighttan;
    opacity: 1;
  }
}

.hoverable {
  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.3;

    &:hover {
      opacity: 0.3;
    }
  }
}

.button-label {
  font-size: 4rem;
  position: relative;
  top: -1rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  grid-area: header;
  margin: 0;

  .tic {
    color: @darkblue;
  }

  .tac {
    color: @lightblue;
  }

  .toe {
    color: @lighttan;
  }
}

.status {
  // Positioning in container
  grid-area: status;
  width: min-content;

  h3 {
    margin: @cell-gap 0;
    width: 10rem;
  }
}

.board {
  // Positioning in container
  grid-area: board;

  display: grid;
  grid-template-columns: @cell-size @cell-size @cell-size;
  grid-template-rows: @cell-size @cell-size @cell-size;
  grid-gap: @cell-gap;
  width: @board-width;
}

.loading {
  grid-area: board;
  margin: auto;
}

.start {
  display: block;
  height: 3rem;
  width: 9rem;
  font-size: 1.3rem;
  margin: auto;
  grid-area: board;
}

.another-game {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  width: 10rem;
  height: 2rem;
}

// Some template CSS loader
.loader {
  grid-area: board;

  color: @lightblue;
  font-size: 0.8rem;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
